In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('bases de dados/carros.csv', sep=';')

In [17]:
df.head(n=5)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [18]:
df.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [19]:
estatisticas = df[['Quilometragem', 'Valor']].describe()
estatisticas

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [21]:
# 7. Obtenha mais informações do dataset com a função info(). Tem alguma coluna com dados nulos? Se sim, qual a coluna e quantos  dados nulos possui?
df.isnull().sum()

Nome              0
Motor             0
Ano               0
Quilometragem    61
Zero_km           0
Acessórios        0
Valor             0
dtype: int64

In [33]:
# Para substituir os valores Nan por 0,
df.replace(np.nan, 0, inplace = True)
df.head(n=10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

8. Com base no Dataset que estamos trabalhando, defina uma função para mostrar a quilometragem média de todos os carros.  Sabendo  que a formula é:

Km_media = km_total / (ano_atual - ano_fabricação)

A função tem que receber como parâmetros: o dataset e o ano atual.
Execute a função e mostre o resultado.

In [26]:
def quilometragem_media(df, ano_atual):
    # Calcular a quilometragem média
    total_quilometragem = df['Quilometragem'].sum()
    total_anos = (ano_atual - df['Ano']).sum()
    km_media = total_quilometragem / total_anos
    return km_media


# Definir o ano atual
ano_atual = 2024

# Calcular e mostrar a quilometragem média
km_media = quilometragem_media(df, ano_atual)
f'A quilometragem média dos carros é: {km_media:.2f} km/ano'

'A quilometragem média dos carros é: 2698.84 km/ano'

9. Utilizando a pesquisa com queries, faça:




e) liste os carros com câmbio automático com valor abaixo de R$ 100.000

f) liste os carros novos com "freios ABS" que custam acima de R$ 100.000

g) liste os carros novos ou usados com km média abaixo de 10.000 km que custam até R$ 100.000

In [32]:
# a) mostre os carros com motor "Diesel V8"
carros_Diesel_V8 = df[df['Motor'] == 'Motor Diesel V8']
nomes_carros_diesel_v8 = carros_Diesel_V8['Nome']

nomes_carros_diesel_v8

2                     Crossfox
11                     Courier
15                         RAM
48                        CR-V
85                 Grand Siena
110               Cadillac XLR
120    Classe C 63 AMG Touring
122                   Veloster
127                      Bongo
128                        ASX
159                L200 Triton
172                    Boxster
182                     Alsvin
187           Aston Martin DB7
191            Vantage Volante
193            Palio Adventure
201                   Classe B
202                     Parati
227                         X1
231                   Veracruz
249                    LS 460L
Name: Nome, dtype: object

In [37]:
# b) pesquise por carros com motor 1.0 8v usados com preço inferior a R$ 100.000
carros_filtrados = df[(df['Motor'] == 'Motor 1.0 8v') & (df['Zero_km'] == False) & (df['Valor'] < 100000)]

carros_filtrados

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
18,XC90,Motor 1.0 8v,2016,37086.0,False,"['Travas elétricas', 'Vidros elétricos', 'Teto...",62696.69
30,Classe SLS AMG,Motor 1.0 8v,1997,30163.0,False,"['Sensor de estacionamento', 'Controle de esta...",70707.20
32,Linea,Motor 1.0 8v,2018,17720.0,False,"['Piloto automático', 'Painel digital', 'Vidro...",59358.69
38,California,Motor 1.0 8v,2009,5526.0,False,"['Rodas de liga', 'Ar condicionado', 'Câmera d...",69770.18
71,Cadillac ELR,Motor 1.0 8v,2007,84992.0,False,"['Sensor crepuscular', 'Travas elétricas', 'Te...",97951.03
144,Passat Variant,Motor 1.0 8v,1991,115930.0,False,"['Freios ABS', 'Rodas de liga', 'Piloto automá...",69535.44
162,C4 Pallas,Motor 1.0 8v,1998,76453.0,False,"['4 X 4', 'Freios ABS', 'Sensor de chuva', 'Ro...",70424.11
170,Effa Hafei Picape Cabine Simples,Motor 1.0 8v,1993,38620.0,False,"['Piloto automático', 'Ar condicionado', 'Cent...",76101.47
197,Série 1 Coupé,Motor 1.0 8v,1993,87161.0,False,"['Controle de estabilidade', 'Teto panorâmico'...",80661.39
199,C30,Motor 1.0 8v,2001,55738.0,False,"['Teto panorâmico', 'Freios ABS', 'Sensor crep...",52805.91
214,Classe A,Motor 1.0 8v,1999,14046.0,False,"['Controle de tração', 'Central multimídia', '...",58008.50
228,GLA,Motor 1.0 8v,1991,8394.0,False,"['Sensor de chuva', 'Câmera de estacionamento'...",76310.01

In [39]:
# pesquise por carros com km média de até 10.000 km com Motor 1.8 16v
carros_filtrados_media = df[(df['Motor'] == 'Motor 1.8 16v') & (df['Quilometragem'] <= 10000)]

carros_filtrados_media

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
42,Optima,Motor 1.8 16v,2019,0.0,True,"['Central multimídia', 'Ar condicionado', 'Tet...",86641.34
88,Fusion,Motor 1.8 16v,2019,0.0,True,"['Controle de tração', 'Câmbio automático', 'F...",100380.28
118,Ford Ka+,Motor 1.8 16v,2006,9595.0,False,"['Sensor crepuscular', 'Piloto automático', 'C...",87830.41
134,Aston Martin DB9,Motor 1.8 16v,1996,4821.0,False,"['Ar condicionado', 'Vidros elétricos', '4 X 4...",104929.88
140,i30,Motor 1.8 16v,2019,0.0,True,"['Câmbio automático', 'Controle de estabilidad...",86224.10
143,Phantom I Phantom II,Motor 1.8 16v,2019,0.0,True,"['Piloto automático', 'Freios ABS', 'Painel di...",60948.01
174,Lamborghini Jalpa,Motor 1.8 16v,2018,9146.0,False,"['Piloto automático', 'Freios ABS', 'Sensor de...",54388.11

In [40]:
# d) liste os tipos de motores cadastrados 
motores_cadastrados = df['Motor'].unique()

motores_cadastrados

array(['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8',
       'Motor 2.4 Turbo', 'Motor 1.8 16v', 'Motor 1.0 8v',
       'Motor 3.0 32v', 'Motor 5.0 V8 Bi-Turbo', 'Motor Diesel V6',
       'Motor V6', 'Motor V8', 'Motor 2.0 16v'], dtype=object)

In [41]:
# e) liste os carros com câmbio automático com valor abaixo de R$ 100.000
carros_automaticos = df[(df['Acessórios'].str.contains('Câmbio automático')) & (df['Valor'] < 100000)]

carros_automaticos

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
6,A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49
13,J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
...,...,...,...,...,...,...,...
246,RS5,Motor V6,1996,55083.0,False,"['Painel digital', 'Câmbio automático', 'Vidro...",89536.82
247,Cerato,Motor V6,2011,48796.0,False,"['Sensor de estacionamento', 'Câmera de estaci...",87975.30
249,LS 460L,Motor Diesel V8,2010,89685.0,False,"['Rodas de liga', 'Freios ABS', 'Controle de t...",58881.67
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03

In [42]:
# f) liste os carros novos com "freios ABS" que custam acima de R$ 100.000
carros_automaticos_freios_ABS = df[(df['Acessórios'].str.contains('Freios ABS')) & (df['Valor'] > 100000)]
carros_automaticos_freios ABS

SyntaxError: invalid syntax (1100247456.py, line 2)