## Importando a biblioteca Pandas

In [1]:
import pandas as pd

## Carregando o conjunto de dados titanic.csv usando Pandas.

In [2]:
df = pd.read_csv('bases de dados/titanic.csv', sep=',', encoding='latin-1')

In [3]:
df.head(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### a) percentual de passageiros sobreviventes do sexo masculino

In [4]:
# Calcular o número total de passageiros do sexo masculino
passageiros_masc = df[df['Sex'] == 'male']
total_passageiros_masc = passageiros_masc.shape[0]

In [5]:
# Sobreviventes do sexo masculino
sobreviventes = passageiros_masc[passageiros_masc['Survived'] == 1]

In [6]:
# Calcular o total de passageiros sobreviventes
total_sobreviventes = sobreviventes.shape[0]

In [7]:
# percentual de sobreviventes do sexo masculino
percentual_sobreviventes_masc = (total_sobreviventes / total_passageiros_masc) * 100
percentual_sobreviventes_masc

18.890814558058924

### b) percentual de passageiros sobreviventes do sexo feminino

In [8]:
# Calcular o número total de passageiros do sexo feminino
passageiros_fem = df[df['Sex'] == 'female']
total_passageiros_fem = passageiros_fem.shape[0]
total_passageiros_fem

314

In [9]:
# Sobreviventes do sexo feminino
sobreviventes_fem = passageiros_fem[passageiros_fem['Survived'] == 1]

In [10]:
# Calcular o total de passageiras sobreviventes
total_sobreviventes_fem = sobreviventes_fem.shape[0]
total_sobreviventes_fem

233

In [11]:
# percentual de sobreviventes do sexo feminino
percentual_sobreviventes_fem = (total_sobreviventes_fem / total_passageiros_fem) * 100
percentual_sobreviventes_fem

74.20382165605095

### c) quantidade de crianças (idade <=12) mortas

In [12]:
# Crianças menores e iguais a 12
criancas = df[df['Age'] <= 12]

In [13]:
# Total de sobreviventes
criancas_sobreviventes = criancas[criancas['Survived'] == 1]
total_criancas_sobreviventes = criancas_sobreviventes.shape[0]
total_criancas_sobreviventes

40

### d) quantidade de sobreviventes por classe

In [14]:
sobreviventes_pclasse = df[df['Survived'] == 1]