Utilizando  5 datasets trabalhados em aulas anteriores:
1. Carros 
2. Vinhos
3. Titanic
4. Filmes
5. Senso_IBGE

escolha pelo menos 2 gráficos adequados para representar os resultados de seus insights para cada dataset acima  e plote-os.

In [1]:
import pandas as pd

In [3]:
# Foi utilizando esse caminho porque o base de dados está no diretório anterior
df = pd.read_csv('../bases de dados/dados_senso_ibge_2015.csv', sep=',')

In [4]:
df.head(n=5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631